###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
Flask == 0.10.1             # Version Matching. Must be version 0.6.1
SQLite3==3.18.0
Flask-RESTful  == 0.3.6
